<form #form="ngForm" (submit)="doValidate()">
  <h1 mat-dialog-title>{{ 'welcome.joinRoom.title' | translate }}</h1>
  <mat-dialog-content>
    <mat-form-field class="mb-3 w-100" [hintLabel]="'welcome.joinRoom.id.hint' | translate">
      <mat-label>{{ 'welcome.joinRoom.id.label' | translate }}</mat-label>
      <input matInput name="roomId"
             [(ngModel)]="roomId" [required]="true"
             [placeholder]="'welcome.joinRoom.id.placeholder' | translate"/>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
      <mat-icon>done</mat-icon>
      {{ 'app.action.validate' | translate}}
    </button>
    <button mat-flat-button type="button" (click)="doClose()">
      <mat-icon>cancel</mat-icon>
      {{ 'app.action.close' | translate }}
    </button>
  </mat-dialog-actions>
</form>
