<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>person</mat-icon>
    <mat-card-title>{{ 'welcome.player.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #form="ngForm">
      <mat-form-field [hintLabel]="'welcome.player.name.hint' | translate" class="w-100">
        <mat-label>{{ 'welcome.player.name.label' | translate }}</mat-label>
        <input matInput name="playerName"
               [(ngModel)]="playerName" [required]="true"
               [placeholder]="'welcome.player.name.placeholder' | translate"/>
        <button mat-icon-button matSuffix (click)="doRemovePlayerName()" *ngIf="playerNameSaved">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="row">
      <button mat-raised-button color="primary" class="col-12 col-md"
              [disabled]="form.invalid || loading" (click)="doCreateRoom()">
        <mat-icon>group</mat-icon>
        {{ 'welcome.player.room.create' | translate }}
      </button>
      <button mat-raised-button color="accent" class="col-12 col-md"
              [disabled]="form.invalid || loading" (click)="doJoinRoom()">
        <mat-icon>person_add</mat-icon>
        {{ 'welcome.player.room.join' | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
