@import "node_modules/@angular/material/theming";

@import "apps/app/src/styles/themes/theming-loading";

@include mat-core();

@mixin app-theme($theme, $bgImageUrl) {
  @include angular-material-theme($theme);
  @include sct-myc-loading-theme($theme);

  body {
    background: $bgImageUrl no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  $background: map-get($theme, background);
}
