<sct-myc-lobby-menubar></sct-myc-lobby-menubar>
<div cdkScrollable>
  <div class="main container" cdkDropListGroup>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <mat-card class="card-queue mat-card-fixed-height">
          <mat-card-header>
            <mat-icon mat-card-avatar
                      [matBadge]="queue.players.length.toString()"
                      [matBadgeColor]="queue.players.length > 0 ? 'warn' : 'accent'"
                      matBadgePosition="above before">
              person
            </mat-icon>
            <mat-card-title>{{ 'room.lobby.queue.title' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'room.lobby.queue.description' | translate }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <sct-myc-lobby-players [data]="queue" [myPlayer]="myPlayer"></sct-myc-lobby-players>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="row">
          <div class="col-md-6" *ngFor="let teamData of teams">
            <mat-card class="card-group mat-card-fixed-height">
              <mat-card-header>
                <mat-icon mat-card-avatar
                          [matBadge]="teamData.players.length.toString()"
                          [matBadgeColor]="teamData.players.length === 0 ? 'warn' : 'accent'"
                          matBadgePosition="above before">
                  group
                </mat-icon>
                <mat-card-title>{{ 'room.lobby.team.title' | translate:teamData.team }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <sct-myc-lobby-players [data]="teamData" [myPlayer]="myPlayer"></sct-myc-lobby-players>
              </mat-card-content>
              <mat-card-actions>
                <button mat-icon-button (click)="doRemoveTeam(teamData.team)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-md-6" *ngIf="myPlayer.roomLeader">
            <button mat-flat-button class="card-group button-add-group" (click)="doAddTeam()">
              <div>{{ 'room.lobby.team.add' | translate }}</div>
              <mat-icon>group_add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
