.card-queue {
  height: 100%;
}

.card-group, .card-queue {
  min-height: 200px;

  .mat-card-content {
    overflow: hidden;
  }

  .mat-chip {
    width: 100%;
  }
}

.button-add-group {
  border: dotted 3px;
  width: 100%;
}

