/* =========================================================================
 * BOOTSTRAP
 * ========================================================================= */
$grid-gutter-width: 1em;

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 840px,
  lg: 1024px,
  xl: 1920px
);

$container-max-widths: (
  sm: 600px,
  md: 840px,
  lg: 1024px,
  xl: 1920px
);
