@import "node_modules/@angular/material/theming";

@mixin sct-myc-drop-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .drop-list {
    border-color: mat-color($foreground, divider);
    background-color: mat-color($background, background);
  }

  .drop-list-item {
    border-color: mat-color($foreground, divider);
    background-color: mat-color($background, background);

    &:not(.drop-list-item-disabled) {
      &:active {
        @include _mat-theme-elevation(3, $theme);
      }

      .drop-list-item-remove:hover {
        opacity: 0.54;
      }
    }

    &.drop-list-item-disabled,
    &.cdk-drag-disabled {
      opacity: 0.4;
    }

    &::after {
      background: map_get($foreground, base);
    }
  }
}
