<mat-toolbar color="primary">
  <mat-icon>person</mat-icon>
  <span>{{ 'room.rush.state.prepare' | translate }}</span>
  <span class="flex-spacer"></span>
  <mat-slide-toggle [checked]="player.rush.ready"
                    [disabled]="form.invalid || !myPlayer"
                    (change)="doReady($event.checked)">
    {{ 'app.common.ready' | translate }}
  </mat-slide-toggle>
</mat-toolbar>
<div class="container main">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>work</mat-icon>
      <mat-card-title>{{ 'room.rush.player.equipment' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #form="ngForm">
        <mat-form-field class="w-100">
          <mat-select name="rucksackType" [required]="true" [disabled]="player.rush.ready || !myPlayer"
                      [(ngModel)]="player.rush.rucksackType"
                      [placeholder]="'room.rush.player.rucksack' | translate"
                      [compareWith]="rucksackComparator"
                      (selectionChange)="doSetRucksackType($event.value)">
            <mat-option *ngFor="let rucksack of rucksacks"
                        [value]="rucksack">{{ 'app.label.rucksack' | translate:rucksack }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<pre>{{player|json}}</pre>
